<div class="container my-3">
  <h1 class="text-center">Réserver un cours</h1>
  <h3 class="my-3 text-center">Les cours sont donnés en présentiel à l’adresse suivante : 48 CHEMIN DE ROUFFIAC 31200 ROUFFIAC et durent 50 minutes.</h3>
  <div>
    <h2>ETAPE 1 : SELECTIONNER VOTRE TYPE D’ABONNEMENT</h2>
    <p>Si vous souhaitez essayer le pilates, <strong>la première séance est gratuite.</strong></p>
    <div class="d-flex justify-content-around row">
      <% @subscriptions.each do |subscription|  %>
      <div class=" col-2 card-abo">
        <h3><%= subscription.sub_type %></h3>
        <h3><%= subscription.price %>€</h3>
        <p type="checkbox"><%= link_to "Sélectionner", courses_path%></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
