 <div class="container my-3">
  <h2>ETAPE 2 : SELECTIONNER UNE (OU plusieurs) date(s)</h2>
  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-2 card-course m-2 ">
        <h3><%= course.date.strftime(" %A %d %B à %kH%M") %> </h3>
        <p><%= course.available_places %> places disponibles</p>
      </div>
    <% end %>
  </div>
</div>
