<div class="container my-3">
  <h1 class="text-center">Réserver un cours</h1>
  <h3 class="my-3 text-center">Les cours sont donnés en présentiel à l’adresse suivante : 48 CHEMIN DE ROUFFIAC 31200 ROUFFIAC et durent 50 minutes.</h3>
  <div>
    <h2>ETAPE 1 : SELECTIONNER VOTRE TYPE D’ABONNEMENT</h2>
    <p>Si vous souhaitez essayer le pilates, la première séance est  gratuite.  Cocher la case “Réserver une  séance” puis notifier qu’il s’agit de votre séance d’essai.</p>
    <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    </ul>
  </div>
  <div>
    <h2>ETAPE 2 : SELECTIONNER UNE (OU plusieurs) date(s)</h2>
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-2 card-course m-2 ">
          <h3><%= course.date.strftime(" %A %d %B à %kH%M") %> </h3>
          <p><%= course.available_places %> places disponibles</p>
          <%= link_to "✖️", courses_path, class: "text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Voulez-vous vraiment supprimer votre avis ?"}%>
      </div>
      <% end %>
    </div>

    <p>Je souhaite réaliser une séance d’esssai gratuite.</p>
  </div>

  <%# <%= render "courses/form-selection" %> %>



</div>
