.card-abo {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid $pink;
  box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
  border-radius: 50px;

  &:checked {
    background: #FFFBAC;
    border: 1px solid $super-pink;
    box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
    border-radius: 50px;
}
}


.card-course{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid $pink;
  box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
  border-radius: 4px;

  &:checked{
    background: #FFFBAC;
    border: 1px solid $super-pink;
    box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  &:disabled{
    background: #FFEEFB;
    border: 1px solid $dark-gray;
    box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
    border-radius: 4px;
  }
}


.card-incoming-course {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid $pink;
  box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card-finished-course {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: $pink;
  border: 1px solid $dark-gray;
  box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
  border-radius: 4px;
}


.card-review {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid $dark-blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;


  & h3 {
    color: $super-pink;
    font-weight: 300;
    font-family: $body-font;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-top: 10px;
  }

  & p {
    padding-left: 10px
  }
}

.card-profil {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid $super-pink;
  box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-recap {
  box-sizing: border-box;
  background: $pink;
  border: 1px solid $dark-blue;
  box-shadow: 2px 2px 4px $dark-blue(0, 0, 0, 0.15);
  border-radius: 4px;
}
