.card-abo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid $pink;
  box-shadow: $dark-blue(0, 0, 0, 0.25);
  border-radius: 50px;

  &:checked {
    background: #FFFBAC;
    border: 1px solid $super-pink;
    box-shadow: $dark-blue(0, 0, 0, 0.25);
    border-radius: 50px;
}
}


.card-course {
  padding: 10px;
  background: $pink;
  border: 1px solid $super-pink;
  box-shadow:  $dark-blue(0, 0, 0, 0.25);
  border-radius: 4px;

  &:checked{
    background: #FFFBAC;
    border: 1px solid $super-pink;
    box-shadow:  $dark-blue(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  &:disabled{
    background: #FFEEFB;
    border: 1px solid $dark-gray;
    box-shadow:  $dark-blue(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  }
DD


.card-incoming-course {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid $pink;
  box-shadow:  $dark-blue(0, 0, 0, 0.25);
  border-radius: 4px;
}

.card-finished-course {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: $pink;
  border: 1px solid $dark-gray;
  box-shadow:  $dark-blue(0, 0, 0, 0.25);
  border-radius: 4px;
}


.card-border-review {
  background: #FFFFFF;
  border: 1px solid $dark-blue;
  box-shadow:  rgba(0,0,0,0.2);
  border-radius: 4px;
  height: 300px;
  width: 100%;

}

.card-review {
  background: #FFFFFF;
  border: 1px solid $super-pink;
  box-shadow:  rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 10px;
  margin-left: 150px;
  margin-right: 150px;



  & h3 {
    color: $super-pink;
    font-weight: 300;
    font-family: $body-font;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 10px;
  }

  & p {
    text-align: justify;
    font-size: 14px;
  }

}




.card-profil {
  background: #FFFFFF;
  border: 1px solid $super-pink;
  box-shadow:  $dark-blue(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-recap {
  background: $pink;
  border: 1px solid $dark-blue;
  box-shadow:   $dark-blue(0, 0, 0, 0.15);
  border-radius: 4px;
}


.card-space {
  padding-top: 5%;
}
